# Ignore VSCode config
.vscode/

# Ignore build and binary output
build/
bin/
projeto_b/build/*
projeto_b/bin/*

# Ignore object and executable files
*.o
*.out
*.exe
*.elf

# Ignore projeto_b/data/ and all contents
projeto_b/data/

# Ignore imagem de saída geradas em src
projeto_b/src/*.png

# Ignore all result directories in projeto_b
projeto_b/resultados_combinados/
projeto_b/resultados_exponent/
projeto_b/resultados_maxIter/
projeto_b/resultados_z0/

# Ignore CMake files
CMakeCache.txt
CMakeFiles/
Makefile

# Ignore Python virtual environments
venv/
.venv/

# Ignore Python bytecode
__pycache__/

# Ignore LaTeX build files
*.aux
*.fdb_latexmk 
*.fls
*.log
*.out
*.toc
*.xdv
*.ps
*.dvi
*.gz
*.blg
*.bbl

